# Used in most samples. Retrieve these values from a storage account in the Azure Portal.
ACCOUNT_NAME=`<storage-account-name>`
ACCOUNT_KEY=`<storage-account-key>`

# Used for withConnString
STORAGE_CONNECTION_STRING=`<storage-account-connection-string>`

# Used for the advanced and anonymousCred tests. Create a SAS token for a storage account in the Azure Portal.
ACCOUNT_SAS=`<shared-access-signature>`

# Used to authenticate using Azure AD as a service principal for role-based authentication.
#
# See the documentation for `EnvironmentCredential` at the following link:
# https://docs.microsoft.com/javascript/api/@azure/identity/environmentcredential
AZURE_TENANT_ID=`<azure-ad-tenant-id>`
AZURE_CLIENT_ID=`<azure-client-application-id-of-app-registration>`
AZURE_CLIENT_SECRET=`<azure-client-secret-for-app-registration>`
# Set up service principal and application registration following guidance at
# https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal
# Give the service principal required roles: Storage Account Contributor and Storage Queue Data Contributor

# To run the proxyAuth sample, set up an HTTP proxy and enter your information:
# HTTP_PROXY=http://localhost:3128

# Timeout settings (milliseconds)
MAX_TIMEOUT=`7000`
TIMEOUT_INCREMENT=`500`

# Functions
# Include keys in x-functions-key header
POST_REQUESTS_URL=`<function url excluding code>`
POST_REQUESTS_KEY=`<function key>`

# used early in development, later stopped using
REQUESTS_QUEUE_NAME=`<queue name>`